body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h1 {
  margin : 40px auto;
  text-align: center;
  font-size: 56px;
  line-height: 64px;
  color: #F2992C;
}

ul.container{
    margin: 0 auto;
    text-align: center;
}

li.stage {
    width: 64px;
    height: 64px;
    border-radius: 64px 64px 64px 64px;
    -moz-border-radius: 64px 64px 64px 64px;
    -webkit-border-radius: 64px 64px 64px 64px;
    border: 0px solid #2e2e2e;
    background: #efefef;
    display: inline-block;
    vertical-align: middle;

    margin: 10px;
    font-size: 28px;
    line-height: 64px;
}

ul.letters {
    text-align: center;
    margin 20px auto;
}

li.letter {
    font-size:24px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    width: 30px;
    height: 30px;
    display:inline-block;
    border: 2px solid #2e2e2e;
    padding: 10px;
    margin: 5px;
}

li.stage.curr {
    background: #043D85;
    color: #FFFFFF;
}

li.stage.done {
    background: #85BB43;
    color: #2e2e2e;
}

.tech-area {
    margin: 40px auto;
    width: 640px;
}

h2 {
    padding: 20px;
}

.tech-area ul {
    list-style: circle;
}

.tech-area ul li {
    padding: 10px;
}
